#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };
};

#define QWERTY 0
#define LWR 1
#define RSE 2
#define CFG 3

/ {

        macros {
          gui_and_space: gui_and_space {
            label = "ZM_gui_and_space";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp SPACE>
                , <&macro_release &kp LGUI>
                ;
          };

        };

        behaviors {
          td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LGUI>, <&gui_and_space>;
          };
        };


        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
                        bindings = <
&kp ESC         &kp Q   &kp W   &kp E   &kp R       &kp T                   &kp Y      &kp U        &kp I       &kp O       &kp P        &kp BSPC
&mt LCTRL TAB   &kp A   &kp S   &kp D   &kp F       &kp G                   &kp H      &kp J        &kp K       &kp L       &kp SEMI     &kp SQT
&kp LSHFT       &kp Z   &kp X   &kp C   &kp V       &kp B                   &kp N      &kp M        &kp COMMA   &kp DOT     &kp FSLH     &mt RSHFT GRAVE
                                &td0    &mo LWR     &kp SPACE               &kp RET    &mo RSE      &mt RALT BSLH
                        >;
                };

                lwr_layer {
                        label = "LOWER";
                        bindings = <
&trans  &kp EXCL    &kp DLLR    &kp LBRC    &kp RBRC    &kp PIPE                &kp AMPS    &kp N7      &kp N8     &kp N9      &kp KP_MULTIPLY &kp BSLH
&trans  &kp AT      &kp PRCNT   &kp LPAR    &kp RPAR    &kp CAPS                &kp UNDER   &kp N4      &kp N5     &kp N6      &kp MINUS       &kp DQT
&trans  &kp HASH    &kp CARET   &kp LBKT    &kp RBKT    &kp TILDE               &kp EQUAL   &kp N1      &kp N2     &kp N3      &kp PLUS        &kp QMARK
                                &trans      &trans      &trans                  &trans      &mo CFG     &kp N0
                        >;
                };

                rse_layer {
                        label = "RAISE";
                        bindings = <
&kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6              &kp HOME    &kp PG_DN   &kp PG_UP   &kp END     &trans      &trans
&kp F7      &kp F8      &kp F9      &kp F10     &kp F11     &kp F12             &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &kp SEMI    &kp DQT
&trans      &kp K_UNDO  &kp K_CUT   &kp K_COPY  &kp K_PASTE &kp K_REDO          &trans      &trans      &trans      &trans      &trans      &trans
                                    &trans      &mo CFG     &kp BSPC            &trans      &trans      &trans
                        >;
                };

                cfg_layer {
                        label = "CONFIG";
                        bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4        &none   &none   &none   &none   &none   &none
&none      &none        &none        &none        &none        &none               &none   &none   &none   &none   &none   &none
&none      &none        &none        &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP        &none   &none   &none   &none   &none   &none
                                     &trans       &trans       &trans              &trans  &trans  &trans
                        >;
                };
        };
};
